CREATE database LOUJA

CREATE TABLE public.category (
                                 id uuid NOT NULL,
                                 title character varying(160) NOT NULL
);

ALTER TABLE public.category
    ADD CONSTRAINT pk_category_id PRIMARY KEY (id)


CREATE TABLE public.product (
                                id uuid NOT NULL,
                                category_id uuid NOT NULL,
                                title character varying(200) NOT NULL,
                                summary character varying(500) NOT NULL,
                                price money NOT NULL,
                                discount numeric(14, 2) NOT NULL,
                                stock integer NOT NULL,
                                image_thumb_url text  NULL,
                                images jsonb NOT NULL,
                                create_at timestamp with time zone NOT NULL
);

ALTER TABLE public.product
    ADD CONSTRAINT pk_product_id PRIMARY KEY (id)

ALTER TABLE public.product
    ADD CONSTRAINT fk_category_id foreign key (category_id)
        references category("id")


CREATE TABLE public."user" (
                               id uuid NOT NULL,
                               password character varying(480) NOT NULL,
                               email character varying(256) NOT NULL,
                               name character varying(160) NOT NULL,
                               localization jsonb NOT NULL,
                               roles jsonb NOT NULL
);

ALTER TABLE public."user"
    ADD CONSTRAINT pk_user_id PRIMARY KEY (id)

CREATE TABLE public.voucher (
                                id uuid NOT NULL,
                                code character(20) NOT NULL,
                                value numeric(19, 2) NOT NULL,
                                is_active boolean NOT NULL,
                                end_date timestamp with time zone NOT NULL,
                                start_date timestamp with time zone NOT NULL
);

ALTER TABLE public.voucher
    ADD CONSTRAINT pk_voucher_id PRIMARY KEY (id)

CREATE TABLE public."userVoucher" (
                                      user_id uuid NOT NULL,
                                      voucher_id uuid NOT NULL,

                                      CONSTRAINT "pk_userVoucher"
                                          PRIMARY KEY (user_id, voucher_id),

                                      CONSTRAINT "fk_userVoucher_user"
                                          FOREIGN KEY (user_id)
                                              REFERENCES public."user"(id)
                                              ON DELETE CASCADE,

                                      CONSTRAINT "fk_userVoucher_voucher"
                                          FOREIGN KEY (voucher_id)
                                              REFERENCES public."voucher"(id)
                                              ON DELETE CASCADE
);
